# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/2_java/PruebasJava/nbproject/private/
/2_java/PruebasJava/build/
/2_java/PruebasJava/dist/
/2_java/PruebasJS/nbproject/private/
/2_java/PruebasJS/build/
/2_java/PruebasJS2/nbproject/private/
/2_java/PruebasJS2/build/
/2_java/PruebasJSPersonal/nbproject/private/
/2_java/PruebasJSPersonal/build/
/2_java/EjemplosPOO/nbproject/private/
/2_java/Ejemplospoogerman/nbproject/private/
/2_java/Ejemplospoogerman/build/
/2_java/Ejemplospoogerman/dist/
/2_java/EjemplosServlet/nbproject/private/
/2_java/EjemplosServlet/build/
/2_java/EjemplosServletEnjerr/nbproject/private/
/2_java/EjemplosServletEnjerr/build/
/2_java/EjemploMVC/nbproject/private/
/2_java/EjemploMod_JAR/nbproject/private/
/2_java/EjemploMod_JAR/dist/
/2_java/EjemploMod_JAR/build/
/2_java/EjemploMVC/build/
/2_java/EjemploMVC/dist/
/2_java/PruebaGlobalJSP/EjemploMVC/nbproject/private/
/2_java/PruebaGlobalJSP/EjemploMVC/build/